body {
	font-family: 'Cabin', sans-serif;
	color: #555;
}

.flex {
	display: flex;
	justify-content: center;
}

#search-bar {
	border-radius: 0;
	margin-right: 10px;
	width: 580px;
	height: 55px
}

#search-button {
	margin-left: 10px;
	width: 120px;
	height: 55px;
	background: #6eb441;
	background: -webkit-linear-gradient(left, #6eb441 , #8abd5c);
	background: -o-linear-gradient(right, #6eb441, #8abd5c);
	background: -moz-linear-gradient(right, #6eb441, #8abd5c);
	background: linear-gradient(to right, #6eb441 , #8abd5c);
}

.card, .card-deck {
	margin-top: 15px;
	margin-bottom: 15px;
	border-radius: 0;
}

.card-img {
	border-radius: 0;
}

.card-image-container {
	width:100%;
	max-height:250px;
	overflow:hidden;
}

.card-body-text {
	height: 150px;
}

.rank-box {
	position: absolute;
	top: calc(50% - 70px);
	left: calc(90% - 120px);
	width: 130px;
	height: 140px;
	background: white;
	border: black;
	box-shadow: 2px 3px 7px grey;
	align-items: center;
}

.mini-rankn-box {
	width: 130px;
}

.rank-img {
	position: absolute;
	width:120px;
	padding:15px;
	padding-top: 0;
}

.big-box {
	width: 280px;
	height: 280px;
	background: white;
	border: black;
	box-shadow: 2px 3px 7px grey;
	align-items: center;
}

.big-rank-img {
	position: absolute;
	width:240px;
	padding:15px;
}

.seal {
	opacity: .6;
}

.a {
	width: 160px;
}
.b, .c {
	width: 150px;
}

.a-sm, .c-sm {
	width: 110px;
}
.b-sm, .z-sm {
	width: 100px;
}

.inspection-date {
	text-align: center;
	font-size: 12px;
	color: grey;
	padding: 2px;
	font-weight: bold;
	position: absolute;
	top: 85%;
	left: calc(50% - 40px);
}

.searcher {
	border-radius: 0;
	height: 290px;
}

.home-searcher {
	margin-bottom: 0;
	border-radius: 0;
	height: 625px;
	display: flex;
	align-items: center;
}

.sort-button {
	width: 100px;
	color: white;
	background-color: #49b0e4;
	border-radius: 0;
	border: none;
	margin: 0px 5px;
	padding: 5px 5px;
}

.wide {
	width:100%;
	background-size:cover;
}

.textish {
	background: white;
	width: fit-content;
	padding: 5px 20px;
	margin: 5px;
	font-size: 40px;
	font-weight: 900;
}

.gradience {
	margin-bottom: 0;
	background: #06344e; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left, #06344e , #034162); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, #06344e, #034162); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, #06344e, #034162); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, #06344e , #034162); /* Standard syntax */
	display: flex;
	align-items: center;
}

.overlay {
	opacity:0.6;
	filter: alpha(opacity=20);
	background-color:#000; 
	width:100%; 
	height:100%; 
	z-index:10;
	top:0; 
	left:0; 
	position:fixed; 
}
.restaurant-pop {
	position: fixed;
	width: 850px;
	height: 700px;
	left: calc(50% - 425px);
	top: calc(50% - 350px);
	z-index: 11;
}

.view-counter {
	display:inline-block;
	float: right;
}

.pagination>li>a, .pagination>li>span {
	position: relative;
	float: left;
	padding: 6px 12px;
	line-height: 1.42857143;
	text-decoration: none;
	color: #337ab7;
	background-color: #fff;
	border: 1px solid #ddd;
	margin-left: -1px;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
	z-index: 3;
	color: #fff;
	background-color: #337ab7;
	border-color: #337ab7;
	cursor: default;
}

.hidden {
	display: none;
}

@media only screen and (max-width: 576px) {
	.view-counter {
		display:inline-block;
		float: none;
	}
	.restaurant-pop {
		position: fixed;
		width: 400px;
		height: 700px;
		left: calc(50% - 200px);
		top: 0;
		z-index: 11;
		zoom: 75%;
	}
	.home-searcher {
		height: auto;
	}
	.big-box {
		margin:10px;
	}
	.form-group {
		display: flex;
		justify-content: center;
	}
	#search-bar, #search-button {
		width: auto;
		margin:10px;
	}
	.mini-rank-box {
		width: 80px;
	}
	.card-image-container {
		max-height:200px;
	}
	.card-body-text {
		height: 200px;
	}
	h1 {
		width: 70%;
	}
}

@media (min-width: 768px) {
	.card-columns {
		column-count: 3;
	}
}

@media (min-width: 1400px) {
	.container {
		max-width: 1270px;
	}
}
